a
  text-decoration: none

// Class For ngMdIcons with custom size
ng-md-icon
  color: rgba(0,0,0,0.54)
.ng-md-icon-special
  margin: 0
  width: auto
  height: auto

.md-button-fixed
  position: fixed
  bottom: 1rem
  right: 1rem
  transition: top 350ms ease-in-out
  @include media('>=600px')
    top: 4.2%


// DatePicker
.md-datepicker-calendar-pane.md-pane-open
  background: white
  border: none
  .md-calendar-date.md-calendar-selected-date > span
    background: color($primaryColor, "darken-1")
    border-radius: 50%
    color: white !important
  .md-calendar-date.md-calendar-date-today > span
    border: 1px solid color($primaryColor, "darken-1")
    border-radius: 50%
    color: color($primaryColor, "darken-1") !important
  // Fix Crash on date-today and selected-date are the same
  .md-calendar-date.md-calendar-date-today.md-calendar-selected-date > span
    color: white !important
  .md-calendar-date.md-calendar-date-disabled > span
    color: color("grey", "lighten-1")

md-datepicker
  &.ng-valid
    .md-datepicker-input-container
      border-color: color($primaryColor, "base")
  &.ng-invalid
    .md-datepicker-input-container
      border-color: color($warnColor, "base")
  .md-datepicker-input-container
    flex: 1
    box-sizing: border-box;
  .md-datepicker-button
    width: 36px
    margin: -0.5rem !important
    md-icon
      width: 36px
      height: 36px