a
  text-decoration: none

// Class For ngMdIcons with custom size
.ng-md-icon-special
  margin: 0
  width: auto
  height: auto

.md-button-fixed
  position: fixed
  bottom: 1rem
  right: 1rem
  transition: top 350ms ease-in-out
  @include media('>=600px')
    top: 4.2%