a
  text-decoration: none

.md
  &-warn, &-primary &-accent
    font-weight: 700
  &-warn
    color: color($warnColor, 'accent-2')
  &-primary
    color: color($primaryColor, 'accent-2')
  &-accent
    color: color($accentColor, 'accent-2')
// Class For ngMdIcons with custom size
ng-md-icon
  color: rgba(0,0,0,0.54)
.ng-md-icon-special
  margin: 0
  width: auto
  height: auto

.md-button-fixed
  position: fixed
  bottom: 1rem
  right: 1rem
  transition: top 350ms ease-in-out
  @include media('>=600px')
    top: 4.2%


// md-inputs
md-input-container.special-case
  margin: 0 !important
  & input
    width: 75%

md-toolbar input[type="search"]
  color: white

md-sidenav, .md-sidenav
  overflow: hidden

// DatePicker
.md-datepicker-calendar-pane.md-pane-open
  background: white
  border: none
  .md-calendar-date.md-calendar-selected-date > span
    background: color($primaryColor, "darken-1")
    border-radius: 50%
    color: white !important
  .md-calendar-date.md-calendar-date-today > span
    border: 1px solid color($primaryColor, "darken-1")
    border-radius: 50%
    color: color($primaryColor, "darken-1") !important
  // Fix Crash on date-today and selected-date are the same
  .md-calendar-date.md-calendar-date-today.md-calendar-selected-date > span
    color: white !important
  .md-calendar-date.md-calendar-date-disabled > span
    color: color("grey", "lighten-1")

md-datepicker
  &.ng-valid
    border-color: rgba(0, 0, 0, 0.117647)
  &.ng-invalid
    .md-datepicker-input-container
      border-color: color($warnColor, "base")
      border-width: 2px
  .md-datepicker-input-container
    flex: 1
    box-sizing: border-box
  .md-datepicker-button
    width: 36px
    margin: -0.5rem !important
    md-icon
      width: 36px
      height: 36px


// Layouts


.layout-row > .layout-fill
  // Reset Defaults
  width: auto
  min-width: auto
  margin: 0
  // try a solution
  height: 100%
  min-height: 100%

.layout-column > .layout-fill
  // Reset Defaults
  height: auto
  min-height: auto
  margin: 0
  // try a solution
  width: 100%
  min-width: 100%

//Create new class
.layout-fill-complete
  margin: 0
  height: 100%
  min-height: 100%
  width: 100%
  min-width: 100%

.big-search
  width: 95% !important