<div layout-align="start center" layout="column" flex>
  <md-content style="width: 90%">
    <h1 class="md-display-2">Crear Reservacion</h1>
    <div layout="column" layout-align="center center">
      <md-content flex layout-padding layout-fill layout="column" layout-align="center start">
        <md-divider></md-divider>
        <form flex layout-padding layout="column" ng-submit="AdminCtrl.createReservacion(AdminCtrl.newReservationData)" style="width: 100%;">
          <div layout="row" layout-align="space-between start">
            <div flex="48" flex layout-padding layout-wrap layout="column">
              <md-subheader>Info. Profesor</md-subheader>
              <md-divider></md-divider>
              <div flex layout="row">
                <div layout="row" layout-align="center center">
                  <ng-md-icon icon="person" size="48" class="ng-md-icon-special"></ng-md-icon>
                  <md-autocomplete required md-input-name="profesorSearch" md-input-minlength="2" md-selected-item="AdminCtrl.newReservationData.profesor" md-search-text="AdminCtrl.selectedProfesor" md-items="profe in AdminCtrl.queryProfesors(AdminCtrl.selectedProfesor)" md-item-text="profe.name" md-floating-label="Lista de Profesores" md-select-on-match="true" md-autofocus="true" md-delay="150">
                      <md-item-template>
                          <span md-highlight-text="AdminCtrl.selectedProfesor.value">{{profe.name}}</span>
                      </md-item-template>
                      <md-not-found>
                         No se encontró "{{AdminCtrl.selectedProfesor}}"
                       </md-not-found>
                  </md-autocomplete>
                </div>
                <md-select flex flex-offset="5" ng-model="AdminCtrl.newReservationData.section">
                    <md-option ng-repeat="section in AdminCtrl.selectedProfesor.sections" value="{{section.id}}">
                        {{section.number}}
                    </md-option>
                </md-select>
              </div>
              <div class="section-info" flex>
                <small><sup>*</sup>
                  <strong class="md-body-2">Materia: </strong> Nombre de la Asignatura -
                  <strong class="md-body-2">Carrera: </strong> Nombre de la Asignatura
                </small>
              </div>
            </div>
            <div flex="48" flex layout-padding layout-wrap layout="column">
              <md-subheader>Info. Horario</md-subheader>
              <md-divider></md-divider>
              <div flex layout="row" layout-align="start center">
                <label for="newReservation-date">Fecha de reservación</label>
                <md-datepicker ng-model="AdminCtrl.newReservationData.date" class="xl-datepicker" md-placeholder="19/10/2015" required></md-datepicker>
              </div>
              <div flex layout="row">
                <md-input-container flex layout="column" layout-align="center center">
                  <ng-md-icon icon="schedule"></ng-md-icon>
                  <input type="text" ng-model="AdminCtrl.newReservationData.time.starts" placeholder="03:00 PM">
                </md-input-container>
                <md-input-container flex layout="column" layout-align="center center">
                  <ng-md-icon icon="schedule"></ng-md-icon>
                  <input type="text" ng-model="AdminCtrl.newReservationData.time.ends" placeholder="03:00 PM">
                </md-input-container>
              </div>
            </div>
          </div>
          <div layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary">Crear</md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</div>
