<div layout-align="start center" layout="column" flex>
  <md-content flex layout="column">
    <h1>Crear Reservacion</h1>
    <md-divider></md-divider>
    <form layout="column" layout-align="center end" layout-padding layout-fill name="AdminCtrl.creationForm" ng-submit="AdminCtrl.createReservacion(AdminCtrl.newReservationData, AdminCtrl.nrd.profesor)">
      <div layout="row" layout-align="start center" layout-padding layout-fill>
        <div layout="row" layout-align="start center" flex="70">
          <ng-md-icon icon="person" size="36" class="ng-md-icon-special"></ng-md-icon>
          <md-autocomplete flex required md-input-name="profesorSearch" md-input-minlength="2" md-selected-item="AdminCtrl.nrd.profesor" md-search-text="AdminCtrl.selectedProfesor" md-items="profe in AdminCtrl.queryProfesors(AdminCtrl.selectedProfesor)" md-item-text="profe.name" md-floating-label="Lista de Profesores" md-select-on-match="true" md-autofocus="true" md-selected-item-change="AdminCtrl.fillSections()" md-delay="150">
              <md-item-template ng-cloak>
                  <span md-highlight-text="AdminCtrl.selectedProfesor.value">{{profe.lastname + ', ' + profe.name}}</span>
              </md-item-template>
              <md-not-found>
                 No se encontró "{{AdminCtrl.selectedProfesor}}"
               </md-not-found>
          </md-autocomplete>
        </div>
        <md-select ng-disabled="!AdminCtrl.availableSections" required="true" name="newReservationDataSection" flex="20" flex-offset="5" ng-model="AdminCtrl.newReservationData.section" aria-label="Secciones del Profesor" placeholder="Secciones">
            <md-option ng-repeat="section in AdminCtrl.availableSections" value="{{section.id}}">
                {{section.id}} - {{section.materia | limitTo: 25}}
            </md-option>
        </md-select>
      </div>
      <div layout="row" layout-align="start center" layout-padding layout-fill>
        <md-datepicker layout="row" layout-align="start center" flex md-min-date="AdminCtrl.minReservationDate" ng-model="AdminCtrl.newReservationData.date" md-placeholder="Selecciona la fecha" name="newReservationDataDate" required="true" mt-exced-reservations profid="{{ AdminCtrl.nrd.profesor.$id }}"></md-datepicker>
      </div>
      <div layout="row" md-no-float layout-padding layout-fill>
        <md-input-container md-no-float layout="column" layout-align="center center">
          <ng-md-icon icon="schedule"></ng-md-icon>
          <input id="newReservationDataStarts" name="newReservationDataStarts" type="text" integer required ng-model="AdminCtrl.newReservationData.starts" ng-pattern="/^(0?[1-9]|1[012])(:[0-5]\d)[APap][mM]$/" placeholder="Hora de inicio">
        </md-input-container>
        <md-input-container md-no-float layout="column" layout-align="center center">
          <ng-md-icon icon="schedule"></ng-md-icon>
          <input id="newReservationDataEnds" name="newReservationDataEnds" type="text" integer required ng-model="AdminCtrl.newReservationData.ends" mt-time placeholder="Hora de fin">
        </md-input-container>
        <md-button class="md-icon-button" type="button" ng-click="AdminCtrl.checkAvailability(AdminCtrl.newReservationData.date, AdminCtrl.newReservationData.starts, AdminCtrl.newReservationData.ends)" ng-disabled="!(AdminCtrl.newReservationData.date && AdminCtrl.newReservationData.starts && AdminCtrl.newReservationData.ends)">
          <ng-md-icon icon="autorenew"></ng-md-icon>
          <md-tooltip md-direction="right">Verificar Disponibilidad</md-tooltip>
        </md-button>
      </div>
      <div layout="column" layout-padding layout-fill>
        <md-input-container layout="row" layout-align="center start" layout-fill>
          <ng-md-icon icon="note_add"></ng-md-icon>
          <input type="text" flex ng-model="AdminCtrl.newReservationData.notes" name="newReservationDataNotas" md-maxlength="60" maxlength="60" placeholder="Notas...">
        </md-input-container>
      </div>
      <div layout="row" layout-padding layout-fill>
        <div flex ng-messages="AdminCtrl.creationForm.$error" role="alert">
          <div ng-message="mtExcedReservations">Este profesor <strong>tiene 2 reservaciones</strong> en este mes</div>
          <div ng-message="pattern">El formato de <strong>la hora</strong> es incorrecto</div>
          <div ng-message="onUse">A esas horas ya existe una reservacion</div>
        </div>
        <md-button ng-disabled="AdminCtrl.creationForm.$invalid" type="submit" class="md-raised md-primary">Crear</md-button>
      </div>
    </form>
  </md-content>
</div>
