<div layout-align="start center" layout="column" flex>
  <md-content flex layout="column">
    <h1>Crear Reservacion</h1>
    <md-divider></md-divider>
    <form layout="column" layout-align="center end" layout-padding layout-fill name="creationForm" ng-submit="AdminCtrl.createReservacion(AdminCtrl.newReservationData)">
      <div layout="row" layout-align="start center" layout-padding layout-fill>
        <div layout="row" layout-align="start center" flex="70">
          <ng-md-icon icon="person" size="36" class="ng-md-icon-special"></ng-md-icon>
          <md-autocomplete flex required md-input-name="profesorSearch" md-input-minlength="2" md-selected-item="AdminCtrl.newReservationData.meta.profesor" md-search-text="AdminCtrl.selectedProfesor" md-items="profe in AdminCtrl.queryProfesors(AdminCtrl.selectedProfesor)" md-item-text="profe.name" md-floating-label="Lista de Profesores" md-select-on-match="true" md-autofocus="true" md-selected-item-change="AdminCtrl.fillSections()" md-delay="150">
              <md-item-template ng-cloak>
                  <span md-highlight-text="AdminCtrl.selectedProfesor.value">{{profe.lastname + ', ' + profe.name}}</span>
              </md-item-template>
              <md-not-found>
                 No se encontró "{{AdminCtrl.selectedProfesor}}"
               </md-not-found>
          </md-autocomplete>
        </div>
        <md-select ng-disabled="!AdminCtrl.availableSections" flex="20" flex-offset="5" ng-model="AdminCtrl.newReservationData.meta.section" aria-label="Secciones del Profesor" placeholder="Secciones">
            <md-option ng-repeat="section in AdminCtrl.availableSections" value="{{section.id}}">
                {{section.id}} - {{section.materia | limitTo: 15}}
            </md-option>
        </md-select>
      </div>
      <div layout="row" layout-align="start center" layout-padding layout-fill>
        <md-datepicker layout="row" layout-align="start center" layout-fill md-min-date="AdminCtrl.minReservationDate" ng-model="AdminCtrl.newReservationData.date" md-placeholder="Selecciona la fecha" required="true"></md-datepicker>
      </div>
      <div layout="row" layout-padding layout-fill>
        <md-input-container layout="column" layout-align="center center">
          <ng-md-icon icon="schedule"></ng-md-icon>
          <input id="newReservationDataStarts" type="text" integer required ng-model="AdminCtrl.newReservationData.time.starts" placeholder="Hora de inicio">
        </md-input-container>
        <md-input-container layout="column" layout-align="center center">
          <ng-md-icon icon="schedule"></ng-md-icon>
          <input id="newReservationDataEnds" type="text" integer required ng-model="AdminCtrl.newReservationData.time.ends" placeholder="Hora de fin">
        </md-input-container>
      </div>
      <div layout="row" layout-padding layout-fill>
        <md-input-container layout="row" layout-align="center start" layout-fill>
          <ng-md-icon icon="note_add"></ng-md-icon>
          <input type="text" flex ng-model="AdminCtrl.newReservationData.meta.notes" name="newReservationDataNotas" md-maxlength="60" maxlength="60" placeholder="Notas...">
        </md-input-container>
      </div>
      <div layout="row" layout-padding layout-fill>
        <span flex></span>
        <md-button ng-disabled="creationForm.$invalid" type="submit" class="md-raised md-primary">Crear</md-button>
      </div>
    </form>
  </md-content>
</div>
