<md-content flex layout="column" layout-padding layout-fill layout-align="center center">
  <div layout="row" layout-fill layout-align="center center">
    <div flex="80" layout="column" layout-padding>
      <div layout-padding layout-fill layout-aling="center center" style="text-align: center;">
        <h1>Sitema para Reservaciones Multiusos</h1>
        <h2>Por Misael Taveras <br>
        <small>2015&copy; Apache V2.0</small></h2>
      </div>
      <md-divider></md-divider>
      <div layout="row" layout-padding layout-fill layout-align="center center" class="social-box">
        <a href="https://github.com/taverasmisael" layout-padding md-ink-ripple>
          <ng-md-icon icon="github-box" size="48" class="ng-md-icon-special github"></ng-md-icon>
        </a>
        <a href="https://twitter.com/taverasmisael" layout-padding md-ink-ripple>
          <ng-md-icon icon="twitter" size="48" class="ng-md-icon-special twitter"></ng-md-icon>
        </a>
        <a href="https://google.com/+MisaelTaveras" layout-padding md-ink-ripple>
          <ng-md-icon icon="google-plus-box" size="48" class="ng-md-icon-special gplus"></ng-md-icon>
        </a>
        <a href="https://do.linkedin.com/in/misaeltaveras" layout-padding md-ink-ripple>
          <ng-md-icon icon="linkedin-box" size="48" class="ng-md-icon-special linkedin"></ng-md-icon>
        </a>
      </div>
    </div>
  </div>
</md-content>
