<md-toolbar layout-fill>
  <div layout-fill layout="row" layout-align="center center" class="md-toolbar-tools">
    <md-input-container flex md-no-float class="md-block">
      <ng-md-icon icon="search"></ng-md-icon>
      <input ng-model="PlaceCtrl.query" type="search" placeholder="Algun Lugar...">
    </md-input-container>
  </div>
</md-toolbar>
<md-content class="md-padding" layout-xs="column" layout="row">
  <div layout-fill flex="45">
    <md-list flex>
      <md-subheader class="md-no-sticky">Lista de lugares <span flex></span>
        <ng-md-icon icon="add" ng-click="doSecondaryAction($event)" aria-label="Agregar Lugar" class="md-accent md-hue-3"></ng-md-icon>
      </md-subheader>
      <md-list-item ng-click="goToPerson(person.name, $event)">
        <ng-md-icon icon="store" class="avatar"></ng-md-icon>
        <p>Nombre del Lugar</p>
        <ng-md-icon icon="delete" ng-click="doSecondaryAction($event)" aria-label="Reservar aqui" class="md-secondary md-warn"></ng-md-icon>
      </md-list-item>
    </md-list>
  </div>
  <div layout-fill flex="45" flex-offset="5">
  </div>
</md-content>
