<md-toolbar layout-fill>
  <div layout-fill layout="row" layout-align="center center" class="md-toolbar-tools">
    <md-input-container layout-fill md-no-float class="md-block big-search">
      <ng-md-icon icon="search"></ng-md-icon>
      <input ng-model="PlaceCtrl.query" type="search" placeholder="Buscar Lugar...">
    </md-input-container>
  </div>
</md-toolbar>
<md-content class="md-padding" layout-xs="column" layout="row">
  <div layout-fill flex="45">
    <md-list flex>
      <md-subheader>
        <span flex>Lista de lugares</span>
        <md-button class="md-icon-button" ng-click="PlacesCtrl.addPlace($event)" aria-label="Agregar Lugar">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
      </md-subheader>
      <md-list-item ng-click="PlacesCtrl.selectPlace('place')">
        <ng-md-icon icon="store" class="avatar"></ng-md-icon>
        <p>Nombre del Lugar</p>
        <ng-md-icon icon="delete" ng-click="PlacesCtrl.deletePlace('id')" aria-label="Eliminar Lugar" class="md-secondary md-warn"></ng-md-icon>
      </md-list-item>
    </md-list>
  </div>
  <div layout-fill flex="45" flex-offset="5">
    <md-content class="md-padding">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <md-input-container md-no-float class="md-block md-headline special-case">
              <input type="text" ng-model="PlacesCtrl.currentPlace.name" required md-minlength="10" minlength="10" placeholder="Nombre del Lugar" ng-disabled="!PlacesCtrl.editing">
            </md-input-container>
            <div layout="row" class="md-subhead">
              <md-input-container md-no-float class="md-block special-case">
                <ng-md-icon icon="people"></ng-md-icon>
                <input type="text" ng-model="PlacesCtrl.currentPlace.capacity" required md-minlength="2" minlength="2" md-maxlength="4" maxlength="4" placeholder="Cantidad de Personas" ng-disabled="!PlacesCtrl.editing">
              </md-input-container>
              <md-input-container md-no-float class="md-block special-case">
                <ng-md-icon icon="place"></ng-md-icon>
                <input type="text" ng-model="PlacesCtrl.currentPlace.location" required md-minlength="10" minlength="10" placeholder="Ubicación" ng-disabled="!PlacesCtrl.editing">
              </md-input-container>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
        <small flex>Creado Por: <em>Misael Taveras</em></small>
          <md-button aria-label="{{PlacesCtrl.modeCancelMessage}} Lugar" class="md-warn md-icon-button">
            <md-tooltip md-direction="top">
              {{PlacesCtrl.modeCancelMessage}}
            </md-tooltip>
            <ng-md-icon icon="{{PlacesCtrl.currentCancelIcon}}" class="md-warn"></ng-md-icon>
          </md-button>
          <md-button aria-label="{{PlacesCtrl.modeSaveMessage}} Lugar" ng-click="PlacesCtrl.changeMode()" class="md-icon-button md-primary">
            <md-tooltip md-direction="top">
              {{PlacesCtrl.modeSaveMessage}}
            </md-tooltip>
            <ng-md-icon icon="{{PlacesCtrl.currentSaveIcon}}" options='{"duration": 375}' class="md-primary"></ng-md-icon>
          </md-button>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-content>
  </div>
</md-content>
