<md-content class="view-search" layout-padding>
    <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Por Fecha">
            <md-content class="md-padding">
              <h1 class="md-display-2">Busqueda Por fecha</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
          </md-tab>
          <md-tab label="Por Profesor">
            <md-content class="md-padding">
              <h1 class="md-display-2">Busqueda Por Profesor</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
          </md-tab>
    </md-tabs>
</md-content>
