<md-content layout="row" layout-sm="column" layout-padding layout-align="start space-between" class="view-search">
  <section id="search" flex-gt-sm="40" layout="column" layout-fill>
    <h3>Busqueda Por Profesor</h3>
    <md-divider></md-divider>
    <form ng-submit="SearchCtrl.query.Profesor(SearchCtrl.selectedProfesor)" layout-fill layout="column" layout-align="space-around start">
      <div layout="row" layout-fill>
        <div flex layout="row" layout-align="start center">
          <ng-md-icon icon="search"></ng-md-icon>
          <md-autocomplete flex required md-input-name="profesorSearch" md-input-minlength="2" md-selected-item="SearchCtrl.selectedProfesor" md-search-text="SearchCtrl.selectedProfesor" md-items="profe in SearchCtrl.queryProfesors(SearchCtrl.selectedProfesor)" md-item-text="profe.name" md-floating-label="Profesores" md-select-on-match="true" md-autofocus="true">
              <md-item-template>
                  <span md-highlight-text="SearchCtrl.selectedProfesor.value">{{profe.lastname + ', ' + profe.name}}</span>
              </md-item-template>
              <md-not-found>
                 No se encontró "{{SearchCtrl.selectedProfesor}}"
               </md-not-found>
          </md-autocomplete>
        </div>
      </div>
      <div layout="row" layout-fill>
        <span flex></span>
        <md-button type="submit" class="md-primary">Buscar</md-button>
      </div>
    </form>
  </section>
  <section id="search-results" flex-gt-sm="50" flex-offset="10" layout="column">
    <h3>Reservaciones de "Juan guitierrino"</h3>
    <md-divider></md-divider>
    <md-list>
      <md-list-item class="md-2-line" flex layout-align="center center">
        <div class="md-list-item-text" layout="row" layout-sm="column" layout-align="center start">
          <div class="profesor" flex layout-padding  layout="column" layout-align="center start">
            <h3>Nombre de la Materia - 0423</h3>
            <h4><time datetime="1/10/2015">1/10/2015</time></h4>
          </div>
          <div class="fecha" layout-padding layout-sm="row" layout="column" layout-align="center end" layout-align="center start">
            <time datetime="04:00 pm">04:00 pm<span hide-gt-sm> -&nbsp;</span></time>
            <time datetime="6:00 pm">6:00 pm</time>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </section>
</md-content>
