<div layout="column" layout-align="start center">
    <md-content layout="row" layout-padding layout-fill layout-align="center center" class="view-search">
        <md-tabs flex="80" md-dynamic-height md-border-bottom>
            <md-tab label="Por Fecha">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Busqueda por fecha</h1>
                    <form layout="column" layout-padding ng-submit="SearchCtrl.searchByDate(SearchCtrl.byDate.starts, SearchCtrl.byDate.ends)">
                        <div layout="row" layout-align="start start">
                            <div flex layout="column">
                                <h5>Fecha de inicio</h5>
                                <md-datepicker ng-model="SearchCtrl.byDate.starts" md-placeholder="19/10/2015" required></md-datepicker>
                            </div>
                            <div flex layout="column">
                                <h5>Fecha de fin</h5>
                                <md-datepicker ng-model="SearchCtrl.byDate.ends" md-placeholder="30/10/2015" required></md-datepicker>
                            </div>
                        </div>
                        <div layout="row" layout-align="center end">
                            <span flex></span>
                            <md-button type="submit" class="md-primary">Buscar</md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Por Mes">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Busqueda por mes</h1>
                    <form layout="column" layout-padding ng-submit="SearchCtrl.searchByMonth(SearchCtrl.byMonth.starts, SearchCtrl.byMonth.ends)">
                        <div layout="row" layout-padding layout-align="start center">
                            <md-input-container class="md-padding" flex layout="column" layout-align="center start">
                                <h5>Mes de inicio</h5>
                                <label>Enero</label>
                                <md-select ng-model="SearchCtrl.byMonth.starts" aria-label="Mes de inicio">
                                    <md-option ng-repeat="month in SearchCtrl.months" value="{{month.index}}">
                                        {{month.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-padding" flex layout="column" layout-align="center start">
                                <h5>Mes de fin</h5>
                                <label>Abril</label>
                                <md-select ng-model="SearchCtrl.byMonth.ends" aria-label="Mes de fin">
                                    <md-option ng-repeat="month in SearchCtrl.months" value="{{month.index}}">
                                        {{month.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="center end">
                            <span flex></span>
                            <md-button type="submit" class="md-primary">Buscar</md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Por Profesor">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Busqueda por profesor</h1>
                    <form layout="column" layout-padding ng-submit="SearchCtrl.searchByProf(SearchCtrl.profesor)">
                        <div layout="row" layout-padding layout-align="start center">
                            <ng-md-icon icon="person" size="48" class="ng-md-icon-special"></ng-md-icon>
                            <md-autocomplete md-select-on-match="true" md-autofocus="true" md-delay="150" flex required md-input-name="profesorSearch" md-input-minlength="2" md-selected-item="SearchCtrl.selectedProfe.name" md-search-text="SearchCtrl.selectedProfesor" md-items="item in SearchCtrl.querySearch(SearchCtrl.selectedProfesor)" md-item-text="item.name" md-floating-label="Lista de Profesores">
                                <md-item-template>
                                    <span md-highlight-text="SearchCtrl.selectedProfesor.value">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                   No se encontró "{{SearchCtrl.selectedProfesor}}"
                                 </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div layout="row" layout-align="center end">
                            <span flex></span>
                            <md-button type="submit" class="md-primary">Buscar</md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
